* {  
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box; 
    font-size: 12px;
}

/* li 앞에 ● 없애기 */
li {
    list-style-type: none;
}

/* 하이퍼링크 밑줄/색깔 제거 */
a {
    color: black;
    text-decoration: none;
}

/* 방문한 링크도 색 X */
a:visited {
    color: black;
}

/* 상단 메뉴 */
#topMenu {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid gray;
    padding: 10px;
}

#topMenu > li > span {
    padding: 0px 10px;
}

#topMenu > li img {
    width: 20px;
}

/* 메인 메뉴 */
#mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

/* new는 mainMenu 안에 혼자 색이 있기에 클래스로 나눠서 색 지정 */
#mainMenu .new {
    color: red;
}

/* 메뉴 ul */
#mainMenu > ul {
    display: flex;
    width: 80%;
}

/* 메뉴 하나하나 맞추기 */
#mainMenu > ul > li {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainMenu .logo {
    width: 155px;
}

#searchBox {
    border-bottom: 1px solid black;
}

#searchBox > input {
    border: none;
    width: 130px;
    padding: 5px;
}

#searchBox > img {
    width: 15px;
}

