/*
    position
*/

.box{
    width: 100px; height: 100px;
    background-color: yellow;
    border: 1px solid red;
}

.box2{
    /* 요소 배치 / 위치  : static(기본값) 정적, 위치 변경불가능 */
    position: static;
    left: 50px
}

.box3{
    position: relative; /* relative 상대 위치 */
    top : 50px;  /* top 위에서부터 50px 아래로 이동 */
    left : 50px; /* left 왼쪽에서부터 50px오른쪽으로 이동,음수이면 왼쪽으로 이동*/ 
}

.box4{
    position: absolute; /* absolute 절대(가장 가까운 position 상위요소) 위치 */
    top : 50px;  left : 50px;
}

.box5{
    position: fixed; /* absolute 절대(가장 가까운 position 상위요소) 위치 */
    bottom : 50px;  right : 50px;
}

.parent{ position: relative; }
.box6{ position: absolute; top: 30px; left: 30px; }